# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
build/
dist/

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Env
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
